.gallery {
  margin-top: 50px;
}
.quote {
  width: 60px;
  height: 60px;
  opacity: 0.8;
  margin-bottom: 5%;
}
.quote img {
  display: block;
  width: 90%;
}
.gallery-title {
  margin-bottom: 10%;
}
.gallery-title h2 {
  /* font-size: var(--font--title--48); */
  font-size: clamp(24px, 3vw, 48px);
  color: var(--color--text--main);
}
/* .gallery-imgBox{
    width: 80%;
} */
 .gallery-swiper-wrap{
  position: relative;
 }
.gallery-swiper {
  width: 70%;
}
.gallery-desc p {
  line-height: 2;
  /* font-size: var(--font--main--21); */
  font-size: clamp(16px, 2vw, 21px);
}
.gallery-desc span {
  display: block;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Pretendard";
  color: var(--color--text--desc);
}
/* 스와이퍼 컨트롤러 */
.sw-visual-ctrl{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.sw-visual-ctrl button{
  /* font-size: 40px; */
  font-size: clamp(32px, 3vw, 40px);
  border: none;
  cursor: pointer;
  color: #ddd;
  background-color: transparent;
}