.program{
    margin: 10% 0;
}
.program-title h2{
    position: relative;
    text-align: center;
    font-size: var(--font--main--title-32);
}
.program-title h2::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: #ddd;
}
/* 프로그램 스와이퍼 */
.program-swiper{
    margin-top: 130px;
}
.program-img{
    position: relative;
    width: 100%;
}
.program-txt{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50% , -50%);
    color: #fff;
}
.program-list{
    width: 120px;
    margin-bottom: 2%;
    padding: 10px 15px;
    text-align: center;
    font-size: clamp(12px, 1vw, 14px);
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
}
.program-txt h4{
    font-size: clamp(24px ,3vw ,48px);
}
.program-date{
    /* font-size: var(--font--main--21); */
    font-size: clamp(12px, 2vw, 21px);
    margin-top: 2%;
    margin-bottom: 20%;
    color: #fff;
}
.program-desc{
    /* font-size: var(--font--main--title-32); */
    font-size: clamp(16px, 2vw, 32px);
    color: #ddd;
}